{% import "head.html" as head %}
{% import "about.html" as about %}

{% set title = "Pat Gaffney · Tags" %}
{% set desc = "Pat Gaffney's web log" %}

<!DOCTYPE html>
<html lang="en-US">
  {{ head::generate(title=title, desc=desc) }}
  <body>
    {% include "header.html" %}
    <main>
      {% for tag in terms | sort(attribute="name") %}
        {% set num_posts = tag.pages | length %}

        <h2>
          <a class="post-tag" href="{{ tag.permalink }}">{{ tag.name }}</a>
          &mdash;

          {% if num_posts > 1 %}
            {{ num_posts }} posts
          {% else %}
            {{ num_posts }} post
          {% endif %}
        </h2>
      {% endfor %}
      {{ about::generate(border=true) }}
    </main>
    {% include "footer.html" %}
  </body>
</html>