<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Pat Gaffney</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="author" content="Pat Gaffney" />
    <meta name="description" content="Pat Gaffney's web log." />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://patgaffney.com" />
    <meta property="og:title" content="Pat Gaffney" />
    <meta property="og:image" content="http://patgaffney.com/assets/pictures/archer.jpg" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@patrickrgaffney" />
    <meta name="twitter:title" content="Pat Gaffney's web log" />
    <meta name="twitter:image" content="http://patgaffney.com/assets/pictures/archer.jpg" />

    <link rel="stylesheet" type="text/css" href="/styles/base.css" />
  </head>
  <body>
    <header class="site-header">
      <h1 class="site-title">
        <a href="/">pat gaffney</a>
      </h1>
      <nav>
        <ul class="header-links">
          <li><a href="/posts">posts</a></li>
          <li><a href="#">projects</a></li>
          <li><a href="#">feed</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ terms }}
    </main>
    <footer>
      <p>
        © 2020 Pat Gaffney • Licensed under <a href="http://creativecommons.org/licenses/by-sa/4.0/">Create Commons</a> • This better not be a ruse.
      </p>
    </footer>
  </body>
</html>