{% macro generate(border=false) %}
  {% set archer = get_url(path="images/archer.jpg") %}
  {% set irish_kevins = get_url(path="images/irish-kevins.jpg") %}
  {% set pat = get_url(path="images/pat.jpg") %}

  {% if border %}
    <div class="about-wrapper">
  {% endif %}

  <p><img id="portrait" src="{{ archer }}" alt="archer" /></p>
  <p>
    I’m Pat Gaffney, a software engineer in St. Louis. I studied computer science at a <a href="https://www.umsl.edu/">small college</a> you’ve never heard of. Now I work as a <a href="https://www.ocelotconsulting.com/">software consultant</a> in the St. Louis area, primarily doing cloud application development. Before that, I wrote full-stack applications for a <a href="https://en.wikipedia.org/wiki/Monsanto">giant agricultural company</a>. I write here from time to time about programming and open source projects I'm working on.
  </p>

  {% if border %}
    </div>
  {% endif %}
  <script>
    const img = document.getElementById('portrait')

    if (img) {
      const changeImage = () => {
        const chance = Math.floor(Math.random() * 10)
        img.src = chance === 0 || chance === 9
          ? "{{ irish_kevins | safe }}"
          : "{{ pat | safe }}"
      }
      const changeBack = () => img.src = "{{ archer | safe }}"
      
      img.onmouseover = changeImage
      img.onmouseout = changeBack
      img.onclick = changeImage
    }
  </script>
{% endmacro generate %}