{% import "head.html" as head %}
{% import "about.html" as about %}

{% set title = "Pat Gaffney · Posts" %}
{% set desc = "Pat Gaffney's web log" %}

<!DOCTYPE html>
<html lang="en-US">
  {{ head::generate(title=title, desc=desc) }}
  <body>
    {% include "header.html" %}
    <main>
      <h2>All Posts</h2>

      <ul class="posts-list">
      {% for post in section.pages %}
        <li>
          <div class="post-date">{{post.date}}</div>
          <a class="post-link" href="{{post.permalink}}">{{post.title}}</a>
          <div class="post-desc">{{post.description}}</div>
          
          <div class="post-tag-wrapper">
          {% for tag in post.taxonomies["tags"] %}
            <a href="{{ config.base_url ~ "/tags/" ~ tag}}"><span class="post-tag">{{ tag }}</span></a>
          {% endfor %}
          </div>  
        </li>
      {% endfor %}
      </ul>
      
      {{ about::generate(border=true) }}
    </main>
    {% include "footer.html" %}
  </body>
</html>