{% import "head.html" as head %}
{% import "about.html" as about %}

{% set title = "Pat Gaffney" %}
{% set desc = "Pat Gaffney's web log" %}

<!DOCTYPE html>
<html lang="en-US">
  {{ head::generate(title=title, desc=desc) }}
  <body>
    {% include "header.html" %}
    <main>
      {{ about::generate() }}

      {% set blog = get_section(path="blog/_index.md") %}
      <h2>Recent Posts</h2>
      <ul class="posts-list">
      {% for post in blog.pages %}
        <li>
          <div class="post-date">{{post.date}}</div>
          <a class="post-link" href="{{post.permalink}}">{{post.title}}</a>
          <div class="post-desc">{{post.description}}</div>
        </li>
      {% endfor %}
      </ul>

      <h2>Elsehwere</h2>
      <p>I exist elsewhere on the internet:</p>
      <ul>
        <li><a href="https://github.com/patrickrgaffney">@patrickrgaffney on Github</a></li>
        <li><a href="https://lobste.rs/u/hypepat">@hypepat on lobste.rs</a></li>
        <li><a href="https://twitter.com/patrickrgaffney">@patrickrgaffney on Twitter</a></li>
        <li><a href="https://letterboxd.com/hypepat/">@hypepat on letterboxd</a></li>
        <li><a href="https://www.goodreads.com/hypepat">@patrickrgaffney on GoodReads</a></li>
      </ul>
      <p>Or, you could <a href="mailto:pat@hypepat.com">email me</a>.</p>
      <p>Thanks for reading.</p>
    </main>
    {% include "footer.html" %}
  </body>
</html>