{% import "head.html" as head %}

{% set title = "Pat Gaffney" %}
{% set desc = "Pat Gaffney's web log" %}

<!DOCTYPE html>
<html lang="en-US">
  {{ head::generate(title=title, desc=desc) }}
  <body>
    {% include "header.html" %}
    <main>
      {% set archer = get_url(path="images/archer.jpg") %}
      {% set irish_kevins = get_url(path="images/irish-kevins.jpg") %}
      {% set pat = get_url(path="images/pat.jpg") %}

      <p><img id="portrait" src="{{ archer }}" alt="archer" /></p>
      <p>
        I’m Pat Gaffney, a software engineer in St. Louis. I studied computer science at a small college you’ve never heard of. Now I work as a <a href="https://www.ocelotconsulting.com/">software consultant</a> in the St. Louis area, primarily doing cloud application development. Before that, I wrote full-stack applications for a giant agricultural company. I write here from time to time about programming and open source projects I'm working on.
      </p>

      {% set blog = get_section(path="blog/_index.md") %}
      <h2>Recent Posts</h2>
      <ul class="posts-list">
      {% for post in blog.pages %}
        <li>
          <div class="post-date">{{post.date}}</div>
          <a class="post-link" href="{{post.permalink}}">{{post.title}}</a>
          <div class="post-desc">{{post.description}}</div>
        </li>
      {% endfor %}
      </ul>

      <h2>Elsehwere</h2>
      <p>I exist elsewhere on the internet:</p>
      <ul>
        <li><a href="https://github.com/patrickrgaffney">@patrickrgaffney on Github</a></li>
        <li><a href="https://lobste.rs/u/hypepat">@hypepat on lobste.rs</a></li>
        <li><a href="https://twitter.com/patrickrgaffney">@patrickrgaffney on Twitter</a></li>
        <li><a href="https://letterboxd.com/hypepat/">@hypepat on letterboxd</a></li>
        <li><a href="https://www.goodreads.com/hypepat">@patrickrgaffney on GoodReads</a></li>
      </ul>
      <p>Or, you could <a href="mailto:pat@hypepat.com">email me</a>.</p>
      <p>Thanks for reading.</p>
    </main>
    <script>
      const img = document.getElementById('portrait')

      if (img) {
        const changeImage = () => {
          const chance = Math.floor(Math.random() * 10)
          img.src = chance === 0 || chance === 9
            ? "{{ irish_kevins | safe }}"
            : "{{ pat | safe }}"
        }
        const changeBack = () => img.src = "{{ archer | safe }}"
        
        img.onmouseover = changeImage
        img.onmouseout = changeBack
        img.onclick = changeImage
      }
    </script>
    {% include "footer.html" %}
  </body>
</html>